[submodule "nesp-sdk-java"]
	path = nesp-sdk-java
	url = https://github.com/nespjin/nesp-sdk-java.git
[submodule "nesp-sdk-kotlin"]
	path = nesp-sdk-kotlin
	url = https://github.com/nespjin/nesp-sdk-kotlin.git
